*{
    padding: 0;
    margin: 0;
}
body {
    background-color: #d8dbdb;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header1{
    height: 50px;
    background-color: #0143a7;
    border-bottom: 1px solid #0143a7;
    opacity: 0.95;
}
.header2{
    background-color: #dfdfe0;
    height: 59px;
    opacity: 0.95;
    border-bottom: 1px solid #0143a7;
}
.header2-select{
    height: 55px;
}
.header1-cont,.header1-mid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: clamp(16px,2vw,18px);
}
.header1-cont{
    width: 90%;
    height: 50px;
    margin: auto;
}
.header1-mid{
    width: 60%;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    height: 30px;
    justify-content: center;
}
.header5{
    width: 100%;
}
.header1-mid input{
    height: 30px;
    width: 100%;
    border: 0;
}
.search-btn{
    padding: 1px;
    border: 0;
    width:40px;
    height: 100%;
}
.header1-cont2{
    width: 87%;
    height: 59px;
    direction: rtl;
    overflow-x: auto;
}
.header1-cont2 a,.my-adver{
    color: #313131;
    text-decoration: none;
    flex-shrink: 0;
    margin-left: 25px;
}
.header1-cont2 a:hover{
    border-radius: 5px;
    padding: 5px;
    background-color: #ffffff8f;
}
.header5{
    width: 75%;
}
.header5-select{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    direction: rtl;
}
.head-icon{
    font-size: clamp(16px,2vw,21px);
}
.select1 select {
    background-color: #dfdfe0;
    color: #313131;
    font-size: clamp(15px,2vw,20px);
    border-radius: 5px;
    padding: 3px 0;
    margin-left: 6px;
}
.my-adver{
    padding: 4px;
    border: 1px solid #313131;
    margin-left: 0;
    font-size: clamp(15px,2vw,20px);
    border-radius: 5px;
}
.section-adver{
    height: 700px;
    width: 100%;
    background: -webkit-linear-gradient( top  , rgb(2, 49, 179)  ,   #d8dbdb  60%   );
}
.section1-adver{
    padding: 70px 0;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: clamp(9px,2vw,18px);
}
.section1-cont{
    text-align: center;
}
.icon-left{
    font-size: 40px;
}
.icon-left:hover{
    cursor: pointer;
}
.prise1{
    display: inline-block;
    padding: 2px;
    background-color: #febd69;
    border-radius: 5px;
}
.card-name1{
    width: 80%;
    align-items: center;
    display: flex;
}
.po{
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
}
.header4{
    margin-top:112px;
}
.footer1{
    height: 350px;
}
.headerdow{
    display: none;
   position: fixed;
   bottom: 0%;
   left: 0%;
   right: 0;
   z-index: 100;
}
.card-cont{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    color: #181f29;
    column-gap: 10px;
    row-gap: 10px;
    margin: auto;
    width: 97%;
    direction: rtl;
    height:350px;
}
.card-cont1{
    padding: 5px;
    background-color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    height: 350px;
}
.card-cont1 p{
    display: inline;
    font-size: clamp(12px,2vw,21px);
    font-weight: 800;
}
.card-img{
    height: 200px;
    width: 100%;
}
.card-img img{
    height: 100%;
    width: 100%;
    background-color: #0143a7;
}
 
.decont{
    text-decoration: line-through;
}
.prise{
    text-align: center;
    background-color: #febd69;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.na{
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-cont-item,.name,.card-loca,.num-link{
    display: flex;
    align-items: center;
}
.card-icon,.icon-loc{
    padding-left: 2px;
}
.card-cont{
    font-size: clamp(10.5px,2vw,19px);
}
.number{
    font-size: clamp(9px,2vw,18px);
}
.card-cont-item{
    margin:7px 0 ;
}
.card-loca{
    font-size: clamp(9px,2vw,18px);
}
.name{
    width: 215px;
    font-weight: 600;
}
.link1{
    width: 200px;
}
.number{
    width: 190px;
}
.nu-link:hover{
    border-radius: 20px;
    background-color: #dfdfdfa8;
    cursor: pointer;
}
@media  (max-width: 600px){
    .header2{
        height: 48px;
        background-color: #dfdfe0;
    }
    .header5{
        width: 93%;
    }
    .header1-mid{
        width: 50%;
        display: flex;
        border-radius: 5px;
        overflow: hidden;
        height: 22px;
        justify-content: center;
    }
    .search-btn{
        width: 26px;
    }
    .search-img{
        width: 25px;
    }
    .section2{
        position: absolute;
        top: 50%;
        left: 1%;
    }
    .section1-adver{
        padding-top: 40px;
    }
    .header1-cont2{
        height: 50px;
    }
    .advice{
        width: 20px;
    }
    .advice1{
        width: 18px;
    }
    .icon-left{
        font-size: 25px;
    }
    .headerdow{
        display: block;
        position: fixed;
        bottom: 0%;
        left: 0%;
        right: 0;
        z-index: 100;
        background-color: #0143a7bb;
     }
    .down{
         margin: auto;
         width: 80%;
         height: 100%;
         align-items: center;
         display: flex;
         justify-content: space-between;
     }
     .add1{
         align-self: center;
     }
    .my-adver{
        display: none;
    }
    .my-adver1{
        display: block;
        border: 0;
        color: #fcf9f9;
    }
    .header4{
        margin-top:101px;
    }    
    .card-cont{
        display: grid;
        grid-template-columns:  1fr 1fr ;
        height:230px;
        column-gap: 5px;
        row-gap: 10px;
    }
    .card-cont1{
        height: 200px;
        background-color: #ffffff;
    }
    .card-img{
        height: 100px;
        width: 100%;
    }
    .na{
        width: 115px;
    }
    .link1{
        width: 105px;
    }
    .card-cont-item{
        margin:5px 0 ;
    }
    .number{
        width: 105px;
    }
    .name{
        width: 115px;
    }
}